/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */

.nav-main{
    background-color: #7C20BE;
    height: 74px;
    padding: 15px 0px 15px;
}

.nav-body{
    height: 46px;
    top: 24px;
}

.nav-text-1{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.nav-text-2{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.nav-button-1{
    width: 130px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 17px;
}

.nav-button-1:hover{
    background: black;
}

.nav-button-2{
    width: 130px;
    height: 35px;
    background: #FFF;
    border-radius: 5px;
    color: #7C20BE;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    outline: none;
    border: 1px solid #FFF;
}